{% extends "base.html" %}
{% block content %}

    <nav role="navigation" class="primary-navigation">
        <ul>
            <li>
                <a href="/?sid={{ session_id }}">Home</a>
            </li>
            <li>
                <a href="/work?sid={{ session_id }}">Work &dtrif;</a>
                <ul class="dropdown">
                    <li>
                        <a href="/mobile?sid={{ session_id }}">Mobile Development</a>
                    </li>
                    <li>
                        <a href="/web?sid={{ session_id }}">Web Development</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/awards?sid={{ session_id }}">Honors & Awards</a>
            </li>
            <li>
                <a href="/about?sid={{ session_id }}" class="active">About & Mentions</a>
            </li>
            <li><a href="/create?sid={{ session_id }}">C</a></li>
            <li><a href="/read?sid={{ session_id }}">R</a></li>
            <li><a href="/update?sid={{ session_id }}">U</a></li>
            <li><a href="/delete?sid={{ session_id }}">D</a></li>
            <li>
                <a href="https://github.com/DDDECAR/django_crud" target="_blank" rel="noopener">Source Code</a>
            </li>
        </ul>
    </nav>
    <hr/>
    <section class="main-section">
        <p>
            This is the about section of the website. This website is built by Rusu Dinu-Stefan, group 1211EA. Built in <a href="https://en.wikipedia.org/wiki/HTML" target="_blank">HTML</a>,
            <a href="https://en.wikipedia.org/wiki/CSS" target="_blank" rel="noopener">CSS</a> and
            <a href="https://www.python.org/" target="_blank" rel="noopener">PYTHON</a>
            <a href="https://www.djangoproject.com/" target="_blank" rel="noopener">[ + DJANGO ],</a> this website showcases other projects made by me. The user can also interact with the database, by creating, reading, updating and deleting projects.
        </p>
        <p>
            Each user has a custom session ID, so that the database can have custom entries. Your session custom id is: {{ session_id }}. You can copy this ID and use it later, your changes will persist in the database, make sure to pass it as a parameter, or you can just copy the current url and paste it later in the browser.<br>
        </p>
        <p>
            Please note that: The GitHub url will not work, until the project deadline is reached. If the deadline was reached and the link still does not work and you want to see how the website works, please make sure to send me an email at: dinu@codingshadows.com
        </p>
        <p>
            For more details about the projects presented on this webpage, please visit: <a href="https://codingshadows.com" target="_blank" rel="noopener">CodingShadows</a>.
        </p>
    </section>

{% endblock %}