{% extends "base.html" %}
{% block content %}

    <nav role="navigation" class="primary-navigation">
        <ul>
            <li>
                <a href="/?sid={{ session_id }}">Home</a>
            </li>
            <li>
                <a href="/work?sid={{ session_id }}">Work &dtrif;</a>
                <ul class="dropdown">
                    <li>
                        <a href="/mobile?sid={{ session_id }}">Mobile Development</a>
                    </li>
                    <li>
                        <a href="/web?sid={{ session_id }}">Web Development</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/awards?sid={{ session_id }}">Honors & Awards</a>
            </li>
            <li>
                <a href="/about?sid={{ session_id }}">About & Mentions</a>
            </li>
            <li><a href="/create?sid={{ session_id }}">C</a></li>
            <li><a href="/read?sid={{ session_id }}">R</a></li>
            <li><a href="/update?sid={{ session_id }}">U</a></li>
            <li><a href="/delete?sid={{ session_id }}">D</a></li>
            <li>
                <a href="https://github.com/DDDECAR/django_crud" target="_blank" rel="noopener">Source Code</a>
            </li>
        </ul>
    </nav>
    <section class="main-section" style="text-align: center">
        <p>Error, with code: {{ error_code }}</p>
        <hr/>
        <p>{{ error_text }}</p>
    </section>

{% endblock %}