{% extends "base.html" %}
{% block content %}

    <nav role="navigation" class="primary-navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/work" class="active">Work &dtrif;</a>
                <ul class="dropdown">
                    <li><a href="/mobile" class="active">Mobile Development</a></li>
                    <li><a href="/web">Web Development</a></li>
                </ul>
            </li>
            <li><a href="/awards">Honors & Awards</a></li>
            <li><a href="/about">About & Mentions</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="https://github.com/DDDECAR/django_crud" target="_blank" rel="noopener">Source Code</a></li>
        </ul>
    </nav>
    <h1>main page</h1>

{% endblock %}