<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://codingshadows.com/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:image" content="https://codingshadows.com/assets/images/codingshadows_banner_logo_high.jpg">
    <meta name="description" content="This is a simple CRUD app, that displays all the projects that I made in the past, and allows me to add, delete and
update the projects in the database.">
    <link rel="apple-touch-icon" href="https://codingshadows.com/logo192.png">
    <title>Projects CRUD App</title>
</head>
<body>
<div id="content">
    {% block content %}
    {% endblock %}
</div><!-- content -->
<div id="footer">
    <a href="https://github.com/DDDECAR/django_crud" target="_blank">See the source code on GitHub.</a>
</div>
</body>
</html>